html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}
.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.82rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 50rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: grey;
}

nav {
  font-weight: bold;
}
